img {
    max-width: 20%;
    height: auto;
}
html {
	background-image: url(https://www.solofondos.com/wp-content/uploads/2016/02/fondos-grises-elegantes-hd.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
}
h1 {
  color:#b9efeb;
}
h3 {
  color:#e0eeee;
}
h4{
  color:#88f7b2;    
  
}
.input-text{
  font-size: 25px;
  text-align: center;
  border:none; 
  background-color:transparent;
  color: aqua;
}
.input-number{
  font-size: 20PX;
  text-align: center;
  border-radius:5px; 
  background-color:  #a91cc5 ;
  border: 2px solid  #4749b2;
  color: aqua; 
}
.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #060742;
  border-radius: 6px;
  border: 2px solid  #4749b2;
}
.boton_personalizado:hover{
  color: #1883ba;
  background-color: #ffffff;

}
.text-result{
  font-size: 25px;
  text-align: center;
  border:none; 
  background-color:transparent;
  color: aqua;
}