@import url('https://fonts.googleapis.com/css?family=Chewy|Oleo+Script');

img {
    max-width: 20%;
    height: auto;
}
html {
	background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2012/08/20/11397/7ab723a813ee95723fa5dc2d4edea38b.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1 {
  color:#b9efeb;
  font-family: 'Righteous', cursive;
}

h2{
  font-family: 'Chewy', cursive;
  color:#88f7b2;    
  
}
.input-text{
  font-size: 30px;
  text-align: center;
  border:none; 
  background-color:transparent ;
  color:  #f9f9f9;
}
.input-text::placeholder{
  font-family: 'Fjalla One', sans-serif;
}
.input-number{
  font-size: 30PX;
  text-align: center;
  border-radius:5px; 
  background-color: #747148;
  border: 2px solid  #4749b2;
  color: aqua; 
}
.boton_personalizado{
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  background-color: #060742;
  border-radius: 6px;
  border: 2px solid  #4749b2;
}
.boton_personalizado:hover{
  color: #1883ba;
  background-color: #ffffff;

}
.text-result{
  font-size: 25px;
  text-align: center;
  border:none; 
  background-color:transparent;
  color: aqua;
}
.boton_reset{
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  background-color: #060742;
  border-radius: 6px;
  border: 2px solid  #4749b2;
  justify-content: center
}